#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 9px 9px 9px 9px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 23px;
  width: 128px;
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-dot-orange {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-dot-orange_1 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-dot-orange_2 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-dot-orange_3 {
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Text_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 6px 6px 6px 6px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-359d8fc3-0d39-4a6f-98f6-25ec5779bb16 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}