#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-40486e7e-ab06-40b3-a4fb-28615f05eb42 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}