#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 25px;
  width: 184px;
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 25px;
  width: 294px;
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 25px;
  width: 184px;
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Text_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-45519d59-991b-452a-a72d-5dc075dfb741 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}