#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}