#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Text_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Table_1 {
  border-collapse: separate;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #67971A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #67971A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #67971A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #67971A;
  border-radius: 9px 9px 9px 9px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 23px;
  width: 128px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-641eb1b6-423b-4243-aae6-7fe91882d78f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}