#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b0251cc5-8f11-4fdb-a568-17e549eacba1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}