#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef32e9b4-8d22-464a-822e-3938fb2b4a8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}